{% macro module_card(module_name, title, description, icon_class="fa-wave-square", link="#", btn_text="Open") %}
{% from 'components/module_lockup.html' import module_lockup %}
{% set module_class = module_name.lower() %}
<div class="module-card {{ module_class }} h-100">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <i class="fas {{ icon_class }} me-2"></i>
            <div>
                {{ module_lockup(module_name) }}
                <p class="card-subtitle">{{ title }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ description }}</p>
        <div class="mt-4 text-center">
            <a href="{{ link }}" class="tf-button {{ module_class }}">
                <i class="fas {{ icon_class }} me-2"></i>
                {{ btn_text }}
            </a>
        </div>
    </div>
</div>
{% endmacro %}